<%= form_for [:admin, @review] do |f| %>
  <%= render "shared/error_messages", object: @review %>
  <div class="form-group">
    <div><%= f.label :rate_this_dog %></div>
    <div class="text-left">
      <span class="glyphicon glyphicon-star star" id="rate-1"></span>
      <span class="glyphicon glyphicon-star star" id="rate-2"></span>
      <span class="glyphicon glyphicon-star star" id="rate-3"></span>
      <span class="glyphicon glyphicon-star star" id="rate-4"></span>
      <span class="glyphicon glyphicon-star star" id="rate-5"></span>
    </div>
    <%= f.hidden_field :rate, value: @review.rate %>
  </div>
  <div class="form-group">
    <div><%= f.label :content %></div>
    <%= f.text_area :content, placeholder: t("reviews.content"),
      class: "form-control height-text-area" %>
  </div>
  <%= f.hidden_field :dog_id, value: @dog.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
