<% provide :title, t("dogs.title") %>
<div id="dogs">
  <div class="row a-dog">
    <div class="col-md-2 col-xs-2">
      <h3><%= link_to t("categories.new"), new_dog_path,
        class: "btn btn-success" %></h3>
      <h3><%= link_to "Favorites", favorites_path if user_signed_in? %></h3>
      <label>Select Categories</label>
      <div style="max-height: 200px; overflow: auto">
        <% Category.all.each do |category| %>
          <div class="check-box-category" title="<%= category.name %>">
            <label>
              <%= radio_button_tag :category_id, category.id %>
              <%= category.name %>
            </label>
          </div>
        <% end %>
      </div>
      <hr>
      <b>Event</b>
      <div style="max-height: 200px; overflow: auto">
        <% Event.all.each do |event| %>
          <div>
            <%= link_to event.name, events_path(event: event.id),
              class: "event-index-dog", title: event.name %>
          </div>
        <% end %>
      </div>
      <div class="compare"></div>
      <div class="compare_now" hidden>
        <%= link_to "Compare Now", "" %>
      </div>
    </div>
    <div class="col-md-10 col-xs-10">
      <div class="all-dog row">
        <%= render @dogs if @dogs %>
      </div>
    </div>
  </div>
  <div class="text-center"><%= paginate @dogs %></div>
</div>
