<div class="row reviews">
  <div class="col-md-2">
    <%= set_avatar_user review.user %>
  </div>
  <div class="col-md-7">
    <p>
      <%= link_to review.user_name, review.user %>
      <%= time_ago_in_words review.created_at %>
    </p>
    <span class="review-<%= review.id %>"><%= review.content.html_safe %></span>
  </div>
  <div class="col-md-3">
    <%= link_to t("categories.edit"), edit_admin_review_path(review),
      class: "edit-review edit-review-#{review.rate}", remote: true,
      data: {id: "#{review.rate}"} if
      current_user?(review.user) %>
    <%= link_to t("categories.delete"), review_path(review),
      method: :delete, class: "color-red",
      data: {confirm: "Are you sure?"} if current_user?(review.user) %>
  </div>
</div>
