<% provide :title, @user.name %>
<div id="users" style="margin-top: 30px;">
  <div class="row">
    <div class="event list-event col-md-8 col-md-offset-2">
      <div class="row header">
        <div class="col-md-4"><b>Events</b></div>
        <div class="col-md-4"><b>Status</b></div>
        <div class="col-md-4"><b>Action</b></div>
      </div>
      <% Event.event_of_user(current_user.id).each do |event| %>
        <%= render "event", event: event %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row table table-striped text-center">
    <div class="col-sm-4 col-xs-4">
      <%= @user.name %>
    </div>
    <div class="col-sm-4 col-xs-4">
      <%= @user.email %>
    </div>
    <div class="col-sm-4 col-xs-4">
      <%= @user.dogs.any? ? @user.dogs.size : 0 %>
      <%= t "users.image" %>
    </div>
  </div>
  <hr />
  <%= render @user.dogs %>
</div>
