<div class="row reviews">
  <div class="col-md-1">
    <%= set_avatar_user review.user %>
  </div>
  <div class="col-md-9">
    <p>
      <%= link_to review.user_name, review.user %>
      <%= time_ago_in_words review.created_at %>
    </p>
    <%= review.content.html_safe %>
  </div>
  <div class="col-md-2">
    <%= link_to t("categorys.delete"), review_path(review),
      method: :delete,
      data: {confirm: "Are you sure?"},
      class: "btn btn-danger" if current_user?(review.user) %>
  </div>
</div>
