<div class="row reviews">
  <div class="col-md-1">
    <%= set_avatar_user review.user %>
  </div>
  <div class="col-md-9">
    <p>
      <div class="pull-right">
        <% review.rate.times do |n| %>
          <span class="glyphicon glyphicon-star star color-hover"></span>
        <% end %>
      </div>
      <%= link_to review.user_name, review.user %>
      <%= time_ago_in_words review.created_at %>
    </p>
    <span class="review-<%= review.id %>"><%= review.content.html_safe %></span>
  </div>
  <div class="col-md-2">
    <%= link_to t("categories.edit"), edit_review_path(review),
      class: "edit-review",
      data: {id: "#{review.id}"}, remote: true if
      current_user?(review.user) %>
    <%= link_to t("categories.delete"), review_path(review),
      method: :delete, class: "color-red",
      data: {confirm: "Are you sure?"} if current_user?(review.user) %>
  </div>
</div>
